<!DOCTYPE html>
<html>
<head>
<title>Hello World!</title>
</head>
<body>
<h1>NGINX is running on {{ansible_distribution}} {{ ansible_distribution_version }} ({{ansible_distribution_release}})</h1>
</body>
</html>